#slider{
    width: 464px;
    height: 118px;
    border: 2px solid black;
    overflow: hidden;  
    visibility: hidden;
}
#buttons {
    visibility: hidden;
}

#place {
    display: flex;
    height: 120px;
    position: relative;
    left: 0;
    transition: all ease 200ms;
}

.Knife{
    border: 2px solid gold;
     height: 113px; 
}

.Shotgun{
  height: 113px;
  border: 2px solid blue;
}

.Pistol{
    height: 113px;
    border: 2px solid red;
}

.Rifle{
  height: 113px;
  border: 2px solid  darkmagenta;
}
#lane {
    position: fixed;
    left: 232px;
    border: 2px solid red;
    height: 115px;
}
